/*
	Standard definitions which always apply. Use as additional 
	rules after css-reset.css has been implemented.
	mhm 7.10.2014
*/

//////////////////////////////////////////////////
// helper class names

	.hidden-phone 		{.hidden-phone()}
	.hidden-tablet	 	{.hidden-tablet()}
	.hidden-desktop 	{.hidden-desktop()}

	.visible-phone 		{.visible-phone()}
	.visible-tablet 	{.visible-tablet()}
	.visible-desktop 	{.visible-desktop()}

//////////////////////////////////////////////////
// html, body and main container

	// do NOT use clearfix on html and body. it breaks the page completely in safari.
	// vh rules do not work in IE8

	html,body	{min-height:100vh}
	body		{
		text-align:center;
	}

	.container	{margin:0 auto;text-align:left;min-height:100vh;position:relative;}

//////////////////////////////////////////////////
// general

img	{
	border: 0;
}

form {

	margin-bottom: 1em;

	label {
		display: block;
		margin: 0 0 1em;
		span {
			display: block;
			width: 100%;
		}
		>input {
			&[type="text"], &[type="search"], &[type="email"], &[type="url"], &[type="tel"], &[type="number"], &[type="range"], &[type="date"], &[type="month"], &[type="week"], &[type="time"], &[type="datetime"], &[type="datetime-local"], &[type="color"] {
				border: 1px solid @colour-lines;
				box-sizing: border-box;
				padding: .25em .5%;
				width: 100%;
			}
			&[type="checkbox"], &[type="radio"] {
				margin: 0;
			}
		}
		>textarea {
			border: 1px solid @colour-lines;
			box-sizing: border-box;
		}
		
		@media (min-width: 640px){

			.media-object(~'span',~'>input,>textarea');

			span {
				width: 30%;
			}
			>input {
				&[type="text"], &[type="search"], &[type="email"], &[type="url"], &[type="tel"], &[type="number"], &[type="range"], &[type="date"], &[type="month"], &[type="week"], &[type="time"], &[type="datetime"], &[type="datetime-local"], &[type="color"] {
					width: 70%;
				}
			}
			>textarea {
				width: 70%;
			}
		}
	}
}

.aspect169 {
	.aspect169();
}


