/*
	CSS variables for typography
*/

// remove up/down arrows on input[type="number"]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



//////////////////////////////////////////////////
// basic typography

body {
	font-family: @font-standard;
	font-size: .875em;
	color: @colour-text;
}

.container {
	text-align: justify;
}

.header {
	text-align: center;
}

.navigation {
	text-align: center;
}

a {
	color: @colour-links;
	&:hover {
		color: darken(@colour-links, 10%);
	}
}

header, h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	color: @colour-header;
	font-weight: bold;
}

h1, h2, h3 {
	margin: 0 0 1em;
}

h4, h5, h6, header {
	margin: 1em 0 .25em;
}

li, p	{
	margin: 0 0 1em;
}

blockquote {
	border-left: 2px solid @colour-lines;
	margin-left: 0;
	padding-left: 1em;
	padding-right: 1em;
	font-style: italic;
}

pre {
	margin-bottom: 1em;
	color: @colour-code;
}



//////////////////////////////////////////////////
// navigation

nav {

	a {
		text-decoration: none;
	}

}

@media screen and (min-width:768px){
	body {
		font-size: 1em;
	}
}

@media screen and (min-width:1025px){
	body {
		font-size: 1.25em;
	}
}

@media screen and (min-width:1920px){
	body {
		font-size: 1.5em;
	}
}
